@basecolor: #5b96f0;
@lightbase: @basecolor * 0.9;
@fontblue: #1E6DE4;
@bgcolor: #F1F1F1;
.bg-color {
    background-color: @basecolor;
    opacity: 0.9;
}

.textcenter {
    text-align: : center;
}

.map-layer {
    width: 100%;
    position: absolute;
    height: 60%;
    opacity: 0.5;
}

.bgimg {
    background-image: url(assets/img/main-bg.png);
}

.para img {
    background-attachment: fixed !important;
}

.gal img {
    width: 100% !important;
}

.isize i {
    font-size: x-large !important;
}

.mapsize {
    height: 100% !important;
    border: 0 !important;
    width: 100% !important;
}

.sectionbg {
    background-color: @sectionbgcolor;
}

.sliderstyle {
    position: fixed;
    z-index: -1;
    height: 100vh !important;
}

.sliderimg img {
    width: 100%
}

.bgimage {
    background-image: url(assets/img/main-bg.png);
}

@media (max-width: 768px) {
    .nav-new a {
        /*margin-top: -18% !important;*/
    }
    .galimg {
        width: 50% !important;
    }
    .logo {
        margin-top: -20% !important;
    }
}

